<!DOCTYPE html>
<html>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js""></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <head>
        <title>ShowOff</title>

    </head>
    
    <body>

        <div class="container">
			 <div class="row">
				<h1><strong>ShowOff</strong><br><small> A Data Showing Platform.</small></h1>
			 </div>

             <div class="row">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="label label-warning">1. Toggle the field name to hide and appear the correspodin column.</span>
                  <br>

                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="label label-warning">2. Use up and down arrow to sort the data</span>
                  <br>

                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="label label-warning">3. use search to filter in the format <em>field:value E.X m_traceid:0909887877...; m_query:cragslist</em> </span>
             </div>
			<br>
			 
			 <div class="row">
				<!--<small>Click To Toggle the Column:<br></small>-->
				<label class="btn-sm btn-danger">All Invisible</label>
				<div id="tableHeaderToggle" class="row" />
			 </div>

			<br>
			<div id="tableDiv" class="row"></div>
        </div>
        
    </body>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
    
        $(function() {

            $.ajax({
                    "url": '/api/data?columns=true',
                    "success": function(json) {
                        var tableHeaders = "";
                        var headerToggle = "";
                        $.each(json.columns, function(i, val){
                            tableHeaders += "<th>" + val + "</th>";
                            headerToggle += "<a class=\"btn-success btn-sm\" data-column=" + i +  ">" + val +  "</a>";
                        });
                        $("#tableHeaderToggle").empty();
                        $("#tableHeaderToggle").append(headerToggle);
                        $("#tableDiv").empty();
                        $("#tableDiv").append('<table id="displayTable" class="display" cellspacing="0" width="100%"><thead><tr>' + tableHeaders + '</tr></thead></table>');
                        //$("#tableDiv").find("table thead tr").append(tableHeaders);  
                        
                        $('#displayTable').dataTable(
                            {       "bProcessing": true,
                                    "bServerSide": true,
                                    "sPaginationType": "full_numbers",
                                    "bjQueryUI": true,
                                    "sAjaxSource": "/api/data"
                            }              
                        );
						
						$('a').on( 'click', function (e) {
							e.preventDefault();
							// Get the column API object
							var column = $("#displayTable").DataTable().column( $(this).attr('data-column') );
							// Toggle the visibility
							column.visible( ! column.visible() );
							$(this).toggleClass("btn-info");
						});
						
						$("label.btn-danger").on('click',function(e) {
							e.preventDefault();
							$.each($("#displayTable").DataTable().columns()[0], function(i, columns){
								$("#displayTable").DataTable().column(i).visible(false);
								//$("a[data-column=\" + $i + "]").toggleClass("btn-info");
							});
							$("a.btn-success").attr('class', 'btn-success btn-sm');
						});
                    },
                    "dataType": "json"
                });
				

       });


    </script>

</html>
